{% extends "blog/painel.html" %}

{%block criar%}

<div id="toolbar-container">
  <span class="ql-formats">
    <select class="ql-font"></select>
    {% comment %} <select class="ql-size"></select> {% endcomment %}
  </span>
  <span class="ql-formats">
    <button class="ql-bold"></button>
    <button class="ql-italic"></button>
    <button class="ql-underline"></button>
    <button class="ql-strike"></button>
  </span>
  <span class="ql-formats">
    <select class="ql-color"></select>
    <select class="ql-background"></select>
  </span>
  <span class="ql-formats">
    <button class="ql-script" value="sub"></button>
    <button class="ql-script" value="super"></button>
  </span>
  <span class="ql-formats">
    {% comment %} <button class="ql-header" value="1"></button> {% endcomment %}
    <button class="ql-header" value="2"></button>
    <button class="ql-header" value="3"></button>
    <button class="ql-blockquote"></button>
    <button class="ql-code-block"></button>
  </span>
  <span class="ql-formats">
    <button class="ql-list" value="ordered"></button>
    <button class="ql-list" value="bullet"></button>
    <button class="ql-indent" value="-1"></button>
    <button class="ql-indent" value="+1"></button>
  </span>
  <span class="ql-formats">
    <button class="ql-direction" value="rtl"></button>
    <select class="ql-align"></select>
  </span>
  <span class="ql-formats">
    <button class="ql-link"></button>
    <button class="ql-image"></button>
    <button class="ql-video"></button>
    <button class="ql-formula"></button>
  </span>
  <span class="ql-formats">
    <button class="ql-clean"></button>
  </span>
</div>

<form id="post-form" method="post">
  <br>
  <label for="titulo" class="form-label">Título:</label>
  <input type="text" class="form-control" id="titulo" name="titulo">
<div id="editor"></div>
{% csrf_token %}
{{ form.as_p }}
<div class="row">
  <div class="col-sm-9"></div>
  <div class="col-sm-3 mt-3">
    <button class="btn btn-success" type="submit" id="criar">Criar Post</button>
  </div>
</div>
</form>

<!-- Initialize Quill editor -->
<script>
    const quill = new Quill('#editor', {
        modules: {
            syntax: true,
            toolbar: '#toolbar-container',
        },
        placeholder: 'Compose an epic...',
        theme: 'snow',
    });

    document.getElementById('post-form').onsubmit = function() {
        // Captura o conteúdo HTML do editor
        const quillHtml = quill.getSemanticHTML();
        // Define o valor do campo oculto do formulário com o HTML do Quill
        document.querySelector('input[name="texto"]').value = quillHtml;
    };
</script>
{%endblock%}
