{% extends "blog/base.html" %}
{% block content %}
<div class="container-sm">
    <div class="row">
        <div class="col-10">
            <h2>Bem-vindo ao Painel</h2>
        </div>
        <div class="col-2">
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-secondary">Você está logado como {{ request.user.username }}</p>
        </div>
    </div>

    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'criar_post'%}">Criar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'editar'%}">Editar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>

    {%block criar_post%}
    {%endblock%}
    
    {%block editar%}
    {%endblock%}

</div>
{% endblock content %}
